.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Header Styles */
.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;

}

/* Nave Styles */

.dark-2 {
  color: #474747;
}

.btn-primary {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.nav-title .text-primary {
  color: #fd6e0a;
  font-weight: bolder;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner Styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}

.banner-content{
  max-width: 585px;
}

.banner-greetings{
  font-size: 45px;
  font-weight: 600;
}

.banner-titel{
  font-size: 85px;
  font-weight: bold;
}

.banner-description{
  font-size: 18px;
  color: #757575;
}

.banner-profile-pic{
  width: 584px;
}